.box {
  padding: 1rem;
  background-color: var(--main2);
  border-radius: 1rem;
  margin: 1rem;
}
.box2 {
  padding: 1rem;
  background-color: rgb(7, 36, 73);
  border: 2px solid white;
  border-radius: 1rem;
  margin: 1rem;
  transform: scale(1.03);
}
