.box {
  width: 88%;
  padding: 1em 0.6em;
  background-color: #464a6d;
  border-radius: 1em;
  margin: 0.7em auto;
}
.box2 {
  width: 88%;
  padding: 1em 0.6em;
  background-color: #464aed;
  border-radius: 1em;
  margin: 0.7em auto;
}
