.header {
  /* width: 100%; */
  max-width: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--main1);
}
.left {
  width: 10%;
}
.left img {
  width: 20px;
}
.right {
  width: 10%;
  text-align: end;
}
.title {
  font-size: x-large;
  width: 80%;
  text-align: center;
}
