.header {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: #00000018;
  backdrop-filter: blur(10px);
}
.left {
  width: 10%;
}
.left img {
  width: 20px;
}
.right {
  width: 10%;
  text-align: end;
}
.title {
  font-size: larger;
  width: 80%;
  text-align: center;
}
