.header {
  background-color: #464a6d;
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 450px;
  z-index: 2;
  height: 5.5em;
}
.text {
  padding: 1em;
}
