.nav {
  display: flex;
  justify-content: space-around;
  background-color: #1f2544;
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-width: 450px;
  align-items: center;
  padding: 0.4em 0em;
  box-shadow: 0 0 10px 5px #1f2544;
}

.nav img {
  padding: 0.5em 0.4em;
  width: 2em;
  height: 2em;
}
