:root {
  /* 배경색 */
  --main1: #1f2544;
  /* 대부분의 틀, 흰색배경의 텍스트색 */
  --main2: #464a6d;
  /* 칵테일이미지의 배경색 */
  --main3: #707398;
  /* 모든 배경의 서브텍스트색 */
  --main4: #9c9ec6;
  /* 이미지색 */
  --main5: #caccf5;
  /* stroke색, 흰색배경색 */
  --main6: #e6e7ff;
  /* 텍스트색 */
  --main7: #fafaff;

  /* 포인트색 */
  --point: linear-gradient(
    135deg,
    #6deefc 0%,
    #7ab0fd 33%,
    #bb7ef8 66%,
    #eb75f5 100%
  );

  /* 취소버튼, 일요일 등등 */
  --no: #ff9c9c;

  /* 토요일, 완료 등등 */
  --yes: #a4b8ff;

  /* 기분색 */
  --feel1: #9a5cff;
  --feel2: #e59cff;
  --feel3: #fbdfff;
  --feel4: #ffd4ca;
  --feel5: #ffb0b0;
}
.임시바 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.재료상자 {
  position: absolute;
  top: 5%;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.재료글자 {
  color: white;
}
.재료 {
  border-radius: 34px;
  background: rgba(255, 255, 255, 0.16);
  border: solid 2px white;
  color: rgb(245, 191, 191);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem 3rem;
}

.배경바 {
  width: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #46322b 45.37%, #2e293e 65.01%);
}
